.header {
    position: relative;
    background-color: #222;
    height: 36px;
    padding: 8px 8px 32px 16px;
}

.logo {
    background-color: #ff7f7f;
    animation: rotation 8s infinite linear;
    height: 35px;
    width: 100px;
    left: 10px;
}

.login-logout {
    position: absolute;
    right: 10px;
    left: 1200px;
    top: 5px;
}