.header {
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
}

.logo {
    background: #ff7f7f;
    animation: l-spin infinite 8s linear;
    height: 35px;
}

.login-logout {
    float: right;
}

.bookshow {
    float: right;
    margin-right: 10px;
}

@keyframes l-spin {
    from { transform: scaleX(-1); }
}

